/* style.css */

* {
    text-align: left;
}

input, textarea {
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
}

input, textarea {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #007B9A; /* Darker blue */
}

#EntriesContainer {
    border-top: 1px solid #333;
    padding-top: 20px;
}

#EntriesContainer div {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
}

#EntriesContainer h3 {
    margin-top: 0;
}

#EntriesContainer p {
    margin-bottom: 5px;
}

#noteError {
    display: none;
}

#nameError {
    display: none;
}

#passwordError {
    display: none;
}

.error {
    color: red;
}

input[type="checkbox"] {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    width: auto;
}